
.footer {
    background-color: black;
    padding: 2em 0 1em 0;
}

.footer a {
    text-decoration: none;
    color: rgb(149, 149, 149);
}

.footer .bord {
    border-right: solid white .1em;
    text-align: center;
}

.footer .bord:last-child {
    border-right: solid white 0em;
}


.footer a:hover {
    color: white;
}