/* 1st Background Image */
.bg1 {
  background-size: cover;
  background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Enterprises-1.jpg);
  background-position: center 122px;
  background-attachment: fixed;
  min-height: 100vh;
  background-repeat: no-repeat;
}

/* Cards */
.img1 {
  background-image: url("/assets/images/Enterprises-2.png");
  background-size: 180%;
  background-position: center;
  background-repeat: no-repeat;
}

.img2 {
  background-image: url("/assets/images/Enterprises-3.png");
  background-size: 180%;
  background-position: center;
  background-repeat: no-repeat;
}
.img3 {
  background-image: url("/assets/images/Enterprises-4.png");
  background-size: 180%;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  height: 335px;
  max-width: 335px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(0.9);
}

/* This is how we do (styles.css) */




/* Bottom image and texts and buttons */
#btmimg {
  z-index: 0;
}
#btmtext {
  z-index: 1;
  position: absolute;
  top: 42%;
  left: 38%;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  width: 20%;
  color: gray;
  padding: 20px;
}

#bottombtn {
  color: white;
  border: 1px solid white;
  width: 50%;
  margin-left: 25%;
  padding: 6px;
}

#bottombtn:hover {
  border: none;
}
.touch {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}
