.bg1 {
  background-size: cover;
  background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Enterprises-1.jpg);
  background-position: center 122px;
  background-attachment: fixed;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.img1 {
  background-image: url("/assets/images/Enterprises-2.png");
  background-size: 180%;
  background-position: center;
  background-repeat: no-repeat;
}

.img2 {
  background-image: url("/assets/images/Enterprises-3.png");
  background-size: 180%;
  background-position: center;
  background-repeat: no-repeat;
}
.img3 {
  background-image: url("/assets/images/Enterprises-4.png");
  background-size: 180%;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  height: 335px;
  max-width: 335px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(0.9);
}

.img4 {
  margin-left: 4.2em;
}

.img5 {
  margin-left: 7em;
}

.img6 {
  margin-left: 7em;
}

.img7 {
  margin-left: 7em;
}

.img8 {
  margin-left: 7em;
}

.img9 {
  margin-left: 7em;
}

#row {
  width: 90%;
  margin-left: 4em;
}


@media (min-width=500px) {
    
    
}
