<div class="bg1 ">
    <div class="col text-center bg-white">
 <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/honda.png" class="pt-3" alt="" height="45px">
 <h6 class="pb-2 pt-2">HONDA CAR'S DEALER MAN POWER UNIFORM</h6>
</div>
<div>
   <h3 class="text-center text-secondary" style="margin-top: 25%;">Workwear that works <br> <i class="fa-solid fa-angle-down fa-beat fa-md text-secondary "></i></h3> 
 </div>
</div>
<!-- <div class="container-fluid">
   <div class="text-center pt-5">
      <h1 class=" fw-bolder">Work Relaxed.</h1>
      <p>When we designed our uniforms, we wore them to work every day.</p>
      <p>We still do. They’re comfy, relaxed and designed to suit your workplace.</p>
     <div class="container">
         <div class="col-4 card" style="height: 265px; width: 250px;" >
            <img src="/assets/images/Enterprises-2.png" class="card-img" alt="">
            <div class="card-img-overlay">
              <h4 class="card-text imgtext">F(IT) MATTERS</h4>
              <h2 class="imgtext1">A size for every one.</h2>
            </div>
         </div>
      </div>
    </div>
</div> -->


   <img src="/assets/images/Enterprises-2.png" class="" alt="...">
   <div class="card-img-overlay">
     <h5 class="card-title">Card title</h5>
     <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
     <p class="card-text">Last updated 3 mins ago</p>
   </div>
   

<br><br>