<div class="container">
    <div class="row">
        <div class="col text-center  text-black fw-lighter p-4">
            <h1 class="text-danger">{{id}}</h1>
            <h4>Nov 16, 2019</h4>
            <h1>Styling accessories that complement your formal wear</h1>
            <div class="row text-start  ">
                <div class="col-8">
                    <b>Formal wear only serves as the base - it’s the accessories you adorn that perfect the
                        quintessential formal look.However, styling plays a massive role in the same. It should
                        ideally have a little bit of
                        everything to make your formal look a truly distinctive one. Here are a few tips on how you
                        can style your formal wear: </b>
                </div>
            </div>
        </div>
        <div style="font-size: 14px;">
            <b class="text-start">Accessories For Men - Tips: </b>
            <ul>
                <br>
                <li>
                    <b> Pocket Squares</b> - These are a great, suave addition to your formal look. It’s not always
                    necessary that
                    your pocket square should match your formal wear - it just shouldn't clash with it drastically.
                </li>
                <br>
                <li>
                    <b> Cufflinks</b> - Cufflinks add a touch of class to your suit. Adding cufflinks to your shirt will
                    keep it firm and in place as well.
                </li>
                <br>
                <li>
                    <b>Watches</b> - Your watch should be just as dressy as the suit your wear. Watches made from
                    stainless
                    steel are a great complement to your meeting look.
                </li>
                <br>
                <li>
                    <b> Tie Clip </b> - The best way to complete your formal look (and also keep your tie in place) is
                    to go for a
                    simple tie clip. It also works to keep your tie neat and wrinkle-free throughout the day!
                </li>
                <br>
                <li>
                    <b> Belt </b>- Leather belts are always a popular choice. An essential tip is to always match your
                    belt with
                    your formal shoes.
                </li>
                <br>
                <li>
                    <b> Footwear </b>- Footwear is arguably one of the most important pieces of clothing in an outfit
                    for men. Always
                    opt for leather or suede as it rounds off your formal look with a refined touch.
                </li>
            </ul>
        </div>
        <div style="font-size: 14px;">
            <b class="text-start">Accessories For Women - Tips:

            </b>
            <ul>
                <br>
                <li>
                    Scarves - If you’re feeling chilly or if the weather allows for it, it’s always good to wear a
                    professional-looking scarf with a suit. Just keep in mind that the scarves you choose should be
                    accessory ones, and not winter scarves.
                </li>
                <br>
                <li>
                    Belt - A thin belt accentuates any woman’s figure, so it’s essential for you to choose a slim one
                    that is in a contrast colour from your outfit. The belt and shoe rule that is a must for men doesn’t
                    usually apply for women, though.
                </li>
                <br>
                <li>
                    Jewellery - If you’re heading for any formal event, avoid wearing large costume jewellery. Earrings
                    should be conservative and small. Necklaces are acceptable, as long as they are delicate or are
                    pendants. An elegant watch is a must
                </li>
                <br>
                <li>
                    Purse/Handbag - Always opt for a classy leather bag that can fit all your essentials like your
                    laptop. This adds a touch of professionalism to your look.
                </li>
                <br>
                <li>
                    Hosiery - If you’re wearing hosiery, it should always suit your skin tone, and should not have any
                    distracting patterns or designs.
                </li>
            </ul>
        </div>
        
        <b>Conclusion</b>
    
        For both men and women, getting your accessories right is an integral part of nailing the formal look. However,
        unless the base is right, the impact you create won’t be an effective one - start by finding customised workwear
        that complements your frame to a tee at Acecraft!
   
    </div>
</div>
<br><br>
