<ng-container *ngFor="let x of cards">
<div class="container">
    <div class="row">
        <div class="col text-center  text-black fw-lighter p-4">
            <h4>{{x.mh1}}</h4>
            <h1>{{x.name}}</h1>
            <div class="row text-center  ">
                <div class="col">
                    <b>{{x.mp1}}</b>
                </div>
            </div>
        </div>
        <div style="font-size: 14px;">
            <b class="text-start">{{x.h3}}</b>
            <ul>
                <br>
                <li>
                    <b>{{x.sh1}}</b>{{x.sp1}} 
                </li>
                <br>
                <li>
                    <b>{{x.sh2}}</b>{{x.sp2}} 
                </li>
                <br>
                <li>
                    <b>{{x.sh3}}</b>{{x.sp3}} 
                </li>
                <br>
                <li>
                    <b>{{x.sh4}}</b>{{x.sp4}} 
                </li>
                <br>
                <li>
                    <b>{{x.sh5}}</b>{{x.sp5}} 
                </li>
                <br>
                <li>
                    <b>{{x.sh6}}</b>{{x.sp6}} 
                </li>
            </ul>
        </div>

        <div style="font-size: 14px;">
            <b class="text-start">
{{x.h4}}
            </b>
            <ul>
                <br>
                <li>
                   <b>{{x.sh7}}</b>{{x.sp7}}
                </li>
                <br>
                <li>
                     <b>{{x.sh8}}</b>{{x.sp8}}
                </li>
                <br>
                <li>
                    <b>{{x.sh9}}</b>{{x.sp9}}
                </li>
                <br>
                <li>
                     <b>{{x.sh10}}</b>{{x.sp10}}
                </li>
                <br>
                <li>
                    <b>{{x.sh11}}</b>{{x.sp11}}
                </li>
            </ul>
        </div>
        
        <b> {{x.conclusion}} </b>
    
        {{x.conclusioncontent}}
        
   
    </div>
</div>
</ng-container>
<br><br>
<app-feedback-form></app-feedback-form>
<br><br>