<nav id="nav" class="navbar sticky-top  navbar-expand-lg bg-black" style="width: 100%;">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand  d-flex" id="ace"  routerLink="">a c e c r a f t</a>
        <div class="row d-flex">
            <div class="collapse navbar-collapse d-flex" id="navbarNav" >
                <ul class="navbar-nav" >
                    <ng-container *ngFor="let nav of nav">  
                    <li class="nav-item" *ngIf="nav.navitem">
                        <a id="navitem" class="nav-link text-decoration" aria-current="page" [routerLink]="nav.routerLink">{{nav.navitem | uppercase}}</a>  
                    </li>
                    <li class="nav-item ">
                        <a *ngIf="!nav.navitem" class="nav-link " [routerLink]="nav.routerLink"  aria-disabled="true"><i [ngClass]='nav.icon'
                            style="font-size: 1.5rem" ></i></a>
                    </li>
                </ng-container>
                    <li class="nav-item  ">
                        <a class="nav-link " routerLink="cart" tabindex="-1" aria-disabled="true"><i
                                class="pi pi-shopping-cart p-overlay-badge" pBadge style="font-size: 1.5rem"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>