
a {
    color: grey !important;
    text-decoration: none;
}

#navitem:focus{
    border-bottom: solid gray .1em;
    text-decoration: none;
}
a:hover {
    color: rgb(255, 252, 252);
    text-decoration: none;
}


#ace {

    font-family: 'Courier New', monospace;
    padding-top: 1%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 0%;
   
}

#navbarNav{
    justify-content: center;
}

nav .container-fluid {
    display: flex;
    flex-direction: column;
}

ul li {
    display: inline-block;
    padding: 10px;
  }

 hr{
    opacity: .1;
   
 }

 p{
    font-family: 'Times New Roman', Times, serif;
 }


#list{
    display: none;
}

#setting:hover #list{
display:block;
}

#list {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(4, 1, 49) 100%);
    color: #aca8a8;
    height: 100vh;
    left: 83.5%;
    width: 250px;
}

#list li{
    list-style-type: none;
}


#list li:hover {
    color: white;
}
@media (max-width: 576px)  { 

    #icon{
        position: absolute;
        margin-left: 280px;
        margin-bottom: 50px;
    }
    #ace{
       text-align: center;
       font-size: x-large; 
    
    }
}