
a {
    color: grey;
    text-decoration: none;
}

#navitem:focus{
    border-bottom: solid gray .1em;
    text-decoration: none;
}
a:hover {
    color: rgb(255, 252, 252);
    text-decoration: none;
}


#ace {

    font-family: 'Courier New', monospace;
    padding-top: 1%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 0%;

}

#navbarNav{
    justify-content: center;
}

nav .container-fluid {
    display: flex;
    flex-direction: column;
}

ul li {
    display: inline-block;
    padding: 10px;
  }


