<nav class="navbar navbar-expand-lg sticky-top  bg-black">
    <div class="card flex justify-content-center">
        <p-sidebar [(visible)]="sidebarVisible">
            <ng-template pTemplate="header">Header Content</ng-template>
            <ng-template pTemplate="content">Body Content</ng-template>
            <ng-template pTemplate="footer">Footer Content</ng-template>
        </p-sidebar>
        <p-button (click)="sidebarVisible = true" icon="pi pi-bars" id="toggle"></p-button>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand" id="ace" routerLink="">a c e c r a f t</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <ul class="navbar-nav" >
                <ng-container *ngFor="let nav of nav">  
                <li class="nav-item" *ngIf="nav.navitem">
                    <a id="navitem" class="nav-link text-decoration" aria-current="page" [routerLink]="nav.routerLink">{{nav.navitem | uppercase}}</a>  
                </li>
                <li class="nav-item ">
                    <a *ngIf="!nav.navitem" class="nav-link " [routerLink]="nav.routerLink"  aria-disabled="true"><i [ngClass]='nav.icon'
                        style="font-size: 1.5rem" ></i></a>
                </li>
            </ng-container>
                <li class="nav-item  ">
                    <a class="nav-link " routerLink="cart" tabindex="-1" aria-disabled="true"><i
                            class="pi pi-shopping-cart p-overlay-badge" pBadge style="font-size: 1.5rem"></i>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </nav>
  
