<!-- Hero Image -->
<div class="contaier banner">
    <img [src]="img" class="img-fluid "  height="640" alt="">
    <div class="text">
        <pre> Choose Class 
over the common</pre>
    </div>
    <a onMouseOver="this.style.color='black' " onmouseout="this.style.color='white'" class="college">ACECRAFT FOR COLLEGES <i class="fa-solid fa-angle-right fa-beat fa-xl"></i></a>
</div>

<!-- Home Cards -->
<div class="container-fluid justify-content-evenly bg-black">
    <div class="row g-2">
        <div class="col-6 pr-1" >
<div class="card bg-dark text-white text-center banner">
    <img [src]="img1" class="card-img hover-image" alt="">
    <div class="card-img-overlay text-secondary p-0 card1-text">
      <h2 class="card-title">A grade</h2>
      <h2 class="card-text fw-bolder">of Greatness.</h2>
    </div>
  </div>
        </div>
        <div class="col-6">
            <div class="card bg-dark text-white text-center banner">
                <img [src]="img2" class="card-img bg-image hover-zoom" alt="">
                <div class="card-img-overlay text-secondary p-0 card1-text">
                    <h2 class="card-title">workwear</h2>
                    <h2 class="card-text fw-bolder ">Redefined.</h2>
                </div>
              </div>
        </div>
    </div>
</div>


