.banner {
    position: relative;
    overflow-x: hidden;
}

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

.text {
    
 
    position: absolute;
    margin-top: -225px;
    margin-left: 500px ;
    color: grey;
    border: 1px solid rgb(255, 255, 255);
    font-size: 47px;
    
}

.college{
    position:absolute;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-left: 42%;
    margin-top: 40%;
   
}

.card1-text{
    position: absolute;
    margin-left: 155px;
    margin-top: 400px;
    border: 1px solid rgb(255, 255, 255);
    height: 100px;
    width: 340px;
    
}

.homecard{
    position: absolute;
    margin-top: 15%;
    margin-left: -100px;
    text-decoration: none;
    color: white;
   font-weight: bolder;
}
