<!-- Hero Image -->
<div class="contaier banner">
    <div class="row">
        <div class="col">
    <img [src]="img" class="img-responsive" alt="">
    
    <div class="text">
       
        <h2 class="fw-lighter">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Choose Class </h2>
        <h2 class="fw-bolder">&nbsp;&nbsp;&nbsp;over the common.&nbsp;&nbsp;&nbsp;</h2>
   
    </div>
        
</div>
<!-- Acecraft for colleges -->
<a onMouseOver="this.style.color='black' " onmouseout="this.style.color='white'" class="college">ACECRAFT FOR
    COLLEGES <i class="fa-solid fa-angle-right fa-beat fa-xl"></i>
</a>
</div>
</div>

<!-- Home Cards -->
<div class="container-fluid justify-content-evenly bg-black">
    <div class="row g-2">
        <div class="col-6 pr-1">
            <!-- Card1 School -->
            <div class="card bg-dark text-white text-center banner">
                <img [src]="img1" id="c1" class="card-img hover-image" alt="">
                <div class="card-img-overlay text-secondary p-0 card1-text">
                    <h2 class="card-title fw-lighter">A grade</h2>
                    <h2 class="card-text fw-bolder">of Greatness.</h2>
                    <a onMouseOver="this.style.color='black' " onmouseout="this.style.color='white'"
                        class="homecard " routerLink="school" id="card">ACECRAFT FOR SCHOOLS <i
                            class="fa-solid fa-angle-right fa-beat fa-xl"></i></a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <!-- Card2 Enterprise-->
            <div class="card bg-dark text-white text-center banner">
                <img [src]="img2" id="c1" class="card-img bg-image" alt="">
                <div class="card-img-overlay  p-0 card1-text">
                    <h2 class="card-title text-secondary fw-lighter">workwear</h2>
                    <h2 class="card-text fw-bolder text-secondary ">Redefined.</h2>
                    <a class="homecard" onMouseOver="this.style.color='black' " onmouseout="this.style.color='white'"
                         routerLink="enterprise" id="card">ACECRAFT FOR ENTERPRISES <i
                            class="fa-solid fa-angle-right fa-beat fa-xl"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>