<div class="container">
  <p-toast position="top-center" key="tc"></p-toast>
  <div class="row">
    <div  style="height: 361px;" *ngIf="cartcount<1" >
      <ng-container>
      <h4 class="pt-5" >Your Shopping cart is Empty!</h4>
      <h5 class="pt-3" > <a routerLink="" class="btn btn-outline-dark">Continue shopping</a></h5>
    </ng-container>
    </div>
    <div *ngIf="cartcount>0" >
    <h2  class="text-center pt-5 pb-5 fw-lighter" >
      Your bag total is {{ totalPrice(cart) | currency : "INR" : "symbol" }}
    </h2>
   
    <ng-container *ngFor="let x of cart">
      <hr />
    <div class="col d-flex justify-content-evenly">
     
      <img
        src="{{x.img}}"
        alt=""
        height="300px"
        width="200px"
      />
      <h3 class="ms-5">{{x.title}} <br> size:{{x.size}}</h3>
     
      <span>
        <i (click)="decproduct(x)" class="fa-solid fa-minus fa-sm"></i>
        <input readonly type="text" class="text-center" value="{{x.quantity}}" style="width: 40px;">
        <i (click)=" showMyProduct(x)" class="fa-solid fa-plus fa-sm"></i>
    </span>
     <h4  class="ms-5">{{ x.price | currency : "INR" : "symbol" }} <br> <h6><a  style="color: red;" (click)="delete(x)">Remove</a></h6></h4>
     <br>
     <h6>Total Price: {{ x.price*x.quantity | currency : "INR" : "symbol" }}  </h6>
    </div>
    <hr>
  </ng-container>
  </div>
</div>
</div>

<div class="container" style="height: 200px;" *ngIf="cartcount>0">
  <div class="row">
    <div class="col-5">
      <h4 class="fw-lighter">Enter Coupon code here</h4>
      <input type="text" style="height: 39px; width: 300px;">
      <button class=" btn-outline-dark">Apply!</button>
    </div>
    <div class="col-3">
      <h5 class="text-secondary">Subtotal</h5>
      <h2 class="pt-3">Total</h2>
    </div>
    <div class="col-4" >
      <h5 class="text-end text-secondary">{{ totalPrice(cart) | currency : "INR" : "symbol" }}</h5>
      <h2 class="text-end pt-3 ">{{ totalPrice(cart) | currency : "INR" : "symbol" }}</h2>
      <br>
      <span class=" " > <a routerLink="" class=" btn-outline-dark">Continue shopping</a></span>
      <span class=" ms-3" > <a  class=" btn-outline-dark">Place Order</a></span> 
    </div>
  </div>
</div>

