<section class="banner">
    <div class="container">
        <div class="row justify-content-center justify-content-md-end">
            <div class="col-md-7 text-center text-md-end" id="content-img-1">
                <b>The acecraft Collection.</b><br>
                <span>Simple. Sharp.</span><br>
                <span>Detailed perfection that makes you
                </span><br>
                <span>look good and feel great. Put it on. It's like magic.</span><br><br>
                <h4><span>Classic</span> | <span>Absolute</span> | <span class="pe-0">Signature</span></h4>
            </div>
        </div>
    </div>
</section>

<section class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center pt-5">
                <img [src]="icon1" width="89%" alt="cutting_edge_img"><br>
                <b>Naturally Cutting-Edge.</b>
                <p>The ‘best of both worlds’ has a new definition. Every fabric in the acecraft line-up is made
                    from a blend of two fibres to give you the best range. No tech involved - it’s just the touch of
                    nature.</p>
            </div>
        </div>

        <div class="container" id="row2">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img [src]="icon2" width="40%" alt="Blended Wool">
                </div>
                <div class="col-md-6 text-center text-md-start">
                    <b>The Blended Wool</b>
                    <p>The Blended Wool is a class apart - with a mix of polyester for its wrinkle/crease-resistance
                        and wool for warmth and absorbency, end your day looking the same as how you began it.</p>
                </div>
            </div>
        </div>

        <div class="container" id="row2">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <b>The Blended Cotton</b>
                    <p>The Blended Cotton is extremely strong and breathable. Easy to iron, this variant shrinks
                        lesser than pure cotton and retains its colour, which makes it a favourite choice for your
                        everyday college wear.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img [src]="icon3" width="40%" alt="Blended Cotton">
                </div>
            </div>
        </div>

        <div class="container" id="row2">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img [src]="icon4" width="40%" alt="Blended Viscose
                    ">
                </div>
                <div class="col-md-6 text-center text-md-start">
                    <b>The Blended Viscose</b>
                    <p>The Blended Viscose addition combines two ends of the spectrum - durability and a sense of
                        softness. While the polyester contributes to resilience and shape retention, the viscose
                        adds on to the overall absorbency, both sharpening and softening your look at the same time.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="banner-2 pt-5">
        <div class="container-fluid" id="banner-2">
            <div class="row justify-content-center">
                <div class="col-md-4 text-center" id="content-img-2">
                    <span>THE ACECRAFT FIT</span><br>
                    <b>Comfy.</b><br>
                    <b>Very comfy.</b><br>
                    <span>It’s not just the fabric - it’s also the fit.</span><br>
                    <span>The shoulders and sleeves fit right while the body feels relaxed, making it undoubtedly
                        the best.
                    </span>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="carousel">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 text-md-start text-center">
                <b>Your pre-trial.<br>
                    Powered by our AI.</b><br>
                <span>The acecraft Measurement Process is one among the world's most accurate methods. We set up a
                    pre-trial event in your campus and make each one try on the right fit. No more guessing the
                    right
                    size business.</span>
            </div>
            <div class="col-md-8">
                <div id="carouselExampleControls" class="carousel slide float-md-end" data-bs-ride="carousel">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img [src]="icon5" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img [src]="icon6" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img [src]="icon7" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="banner-3">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4  text-center" id="content-img-3">
                <span>Designer Uniforms
                </span><br>
                <em>by</em>
                <h5>a c e c r a f t</h5>
                <button type="button" class="bg-transparent border-2 border-light px-2 py-1 text-light mt-2">Get In Touch</button>
            </div>

        </div>
    </div>

</section>

