
<ul class="nav justify-content-center text-white  " style="background-color: black;">
  <div  style="background-color: black;" ><h3 id="ace">a c e c r a f t</h3>
    <div class="d-flex">
  <li class="nav-item ">
    <a class="nav-link  " aria-current="page" href="#">SCHOOL</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">COLLEGE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">ENTERPRISE</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">NOTES</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">AIRENMASK</a>
  </li>
  <span class="d-flex " style="margin-left:50%;">
  <li class="nav-item ">
    <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #ffffff; left: 1700%;"></i></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"><i class="fa-solid fa-headset fa-lg" style="color: #ffffff; left: 1400%;"></i></a>
  </li>
  </span>

</div>
</div>
</ul>


<div class="contaier">
  <img [src]="img" class="img-responsive " height="640" alt="">
</div>

<router-outlet></router-outlet>
