<title>Blogs</title>
<h1 class="text-center fw-bolder text-black p-4">Blogs</h1>

<div class="container">
    <div class="row g-5">
        <ng-container *ngFor="let card of cards">
            <div class="col-lg-6 col-sm-12 col-md-12 ">

                <div class="card flex justify-content-center bg-white ps-1 pe-1 pt-1 pb-5">

                    <a  routerLink="/" (click)="viewProduct(card.id)" class="text-decoration-none">
                        <p class="bg-black text-white text-center pcard ">{{card.name | uppercase}}</p>
                    </a>

                </div>
            </div>
        </ng-container>
    </div>
</div>
<br><br><br>
<router-outlet></router-outlet>