<div class="container-fluid bg ">
    <div class="row ">
        <div class="col text-center  text">
            <h2 class="">Decode</h2>
            <h4 class="">Your kind of designer uniform</h4>
        </div>
    </div>
</div>
<!-- Filter Sort -->
<div class="container">
    <div class="row">
        <div class="col-9">
            <h4 style="text-align: start; margin-top: 50px">SCHOOL- {{count}}</h4>
        </div>
        <div class="col-3" style="float: right" style="margin-top: 50px">
            <select (change)="onOptionsSelected($event)">
                <option value="" disabled selected hidden>SORT BY</option>
                <option value="lth">Price : Low to High</option>
                <option value="htl">Price : High to Low</option>
                <option value="nasc">Name : Ascending Order</option>
                <option value="ndesc">Name : Descending Order</option>
            </select>
        </div>
    </div>
</div>
<br><br>
<!-- Products Display from Child -->
<div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let x of products">
            <app-school-prods [products]="x"></app-school-prods>
        </div>
    </div>
</div>