
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <h4 class="modal-title text-center" id="gridSystemModalLabel">Get your Uniforms designed and <br> styled by Us!</h4>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-outline-dark">Understood</button>
        </div>
      </div>
    </div>
  </div>
