<div class="container-fluid bg1">
    <div class="row">
        <div class="col" style="background-color: white">
            <ng-container *ngFor="let school of school">
                <img class="img" [src]="school.img" alt="" height="55px" />
            </ng-container>
        </div>
        <section>
            <div class=" bg1">
                <h1 class="text-center">Designer uniforms <b>for the doers</b></h1>
                <i class="fa-solid fa-angle-down fa-beat fa-xl"></i>
                <div class=" c fw-bolder ">
                    <h1 class="row top">
                        Aesthetically advanced,<br />
                        our designer uniforms are a cut above the rest,<br />
                        in every sense of the word.
                    </h1>
                </div>
            </div>
        </section>
        <div class="col bg2">
            <h1 class="text-center text-black">Perfection. Now <b>delivering to your doorstep.</b></h1>
            <i class="fa-solid fa-angle-down fa-beat fa-xl text-black"></i>

            <div>
                <h1 class="text-black pad text-center fw-normal">Less <b>hassle</b>. More <b>hustle.</b> <br>
                    Our end-to-end e-commerce facility with <br>
                    <b>superior technology enables us to <br>
                        deliver your order right to your doorstep.</b>
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: black;">
    <div class="row ">
        <div class="col">
            <h1 class="text-end text-secondary">
                Be at ease. <br>
                Everyday.</h1>
            <p class="text-end">
                Our uniforms keep your children looking great <br>
                from the first day of school until the end-of-the-year picnic.
            </p>
            <!-- <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/BK,.jpg" class="img-responsive "> -->
        </div>
    </div>
</div>
<br><br><br>