/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";




/* #toggle{
    color: azure!important;
} */


.img4 {
    margin-left: 5.2em !important;
  }
  
  .img5 {
    margin-left: 9em !important;
  }
  
  .img6 {
    margin-left: 9em !important;
  }
  
  .img7 {
    margin-left: 9em !important;
  }
  
  .img8 {
    margin-left: 9em !important;
  }
  
  .img9 {
    margin-left: 9em !important;
  }
  
  #row {
    width: 90% !important;
    margin-left: 4em !important;
  }

  
